# Ignore everything by default. So this is a "Docker include" file.
*

# Gradle
!gradle
!gradlew
!buildSrc/src
!buildSrc/*.gradle.kts
!gradle.properties
!*.gradle.kts

!ABY.i
!ABY.patch

!CMakeLists.txt
!external/Makefile

# Testing
!src/test
